$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background: rgb(187, 187, 193);
    color: #26284E;
}

.l-header {
    text-transform: uppercase;
    font-size: 40px;
}

input[type='color'] {
    width: 100%;
    height: 100px;
}
