<!doctype>
<html lang="nl">
    <head>

        <title>Home automation - {{{title}}}</title>

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:300" />

    </head>
    <body>
        
        {{> _header}}

        <main>
            <div class="container">
                {{{body}}}
            </div>
        </main>

        {{> _footer}}

        <script src="/js/bundle.js"></script>

    </body>
</html>
